<!-- About -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-heading visible-md visible-lg">現実性ごと、加速する</h2>
        <p class="h3 hidden-md hidden-lg">現実性ごと、加速する</p>
      </div>
      <div class="col-md-6">
        <div class="visible-lg visible-md">
          <p class="p-about">これまで、我々人類は、この世界をよりすみやすく、日々を豊かにしてきました。</p>
          <p class="p-about">次は、我々が世界に最適化する番です。それが、弊社の目標です。</p>
        </div>

        <div class="hidden-md hidden-lg">
          <p class="h4">これまで、我々人類は、この世界をよりすみやすく、日々を豊かにしてきました。</p>
          <p class="h4">次は、我々が世界に最適化する番です。それが、弊社の目標です。</p>
        </div>

      </div> <!-- col-md-6 -->
    </div> <!-- row -->
  </div> <!-- container -->
</section>
