<!-- About -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-heading">現実性ごと、加速する</h2>
      </div>
      <div class="col-md-6">
        <p class="p-about">これまで、我々人類は、この世界をよりすみやすく、日々を豊かにしてきました。</p>
        <p class="p-about">次は、我々が世界に最適化する番です。それが、弊社の目標です。</p>
        <!--<p class="span-about">Morbi malesuada tincidunt fermentum.</p>-->
      </div> <!-- col-md-6 -->
    </div> <!-- row -->
  </div> <!-- container -->
</section>
