<!-- 企業概要 -->
<section id="company">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading visible-md visible-lg">会社概要</h2>
        <p class="section-heading h3 hidden-md hidden-lg">会社概要</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-0"></div>
      <div class="col-lg-3 col-md-3 col-xs-5 text-left">
        <p class="h4 visible-md visible-lg">会社名</p>
        <p class="h5 hidden-md hidden-lg">会社名</p>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-7 text-left">
        <p class="h5 text-muted bottom-margin-sm">
        AXEREAL株式会社（AXEREAL co.,LTD.）
        </p>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-0"></div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-0"></div>
      <div class="col-lg-3 col-md-3 col-xs-5 text-left">
        <p class="h4 visible-md visible-lg">代表取締役社長</p>
        <p class="h5 hidden-md hidden-lg">代表取締役社長</p>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-7 text-left">
        <p class="h5 text-muted bottom-margin-sm">
        安藤 良一
        </p>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-0"></div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-0"></div>
      <div class="col-lg-3 col-md-3 col-xs-5 text-left">
        <p class="h4 visible-md visible-lg">創立</p>
        <p class="h5 hidden-md hidden-lg">創立</p>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-7 text-left">
        <p class="h5 text-muted bottom-margin-sm">
        2018年（平成30年）10月10日
        </p>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-0"></div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-0"></div>
      <div class="col-lg-3 col-md-3 col-xs-5 text-left">
        <p class="h4 visible-md visible-lg">資本金</p>
        <p class="h5 hidden-md hidden-lg">資本金</p>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-7 text-left">
        <p class="h5 text-muted bottom-margin-sm">
        24万円
        </p>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-0"></div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-0"></div>
      <div class="col-lg-3 col-md-3 col-xs-5 text-left">
        <p class="h4 visible-md visible-lg">事業年度</p>
        <p class="h5 hidden-md hidden-lg">事業年度</p>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-7 text-left">
        <p class="h5 text-muted bottom-margin-sm">
        毎年7月末から6月まで
        </p>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-0"></div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-0"></div>
      <div class="col-lg-3 col-md-3 col-xs-5 text-left">
        <p class="h4 visible-md visible-lg">主な事業内容</p>
        <p class="h5 hidden-md hidden-lg">主な事業内容</p>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-7 text-left">
        <p class="h5 text-muted bottom-margin-sm">
        技術を用いたウェルネスの向上、超人スポーツ及びFigital Sports(フィジタルスポーツ)の開発・運営・イベントの実施
        </p>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-0"></div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-0"></div>
      <div class="col-lg-3 col-md-3 col-xs-5 text-left">
        <p class="h4 visible-md visible-lg">主要取引先</p>
        <p class="h5 hidden-md hidden-lg">主要取引先</p>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-7 text-left">
        <p class="h5 text-muted bottom-margin-sm">
        一般社団法人超人スポーツ協会
        </p>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-0"></div>
    </div>

  </div>
</section>
