<!-- 企業概要 -->
<section id="company">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">会社概要</h2>
        <h2 class="section-subheading">会社名</h2>
        <h3 class="section-subheading text-muted bottom-margin-sm">
          AXEREAL株式会社（AXEREAL co.,LTD.）
        </h3>
        <h2 class="section-subheading">代表取締役社長</h2>
        <h3 class="section-subheading text-muted bottom-margin-sm">
          安藤 良一
        </h3>
        <h2 class="section-subheading">創立</h2>
        <h3 class="section-subheading text-muted bottom-margin-sm">
          2018年（平成30年）10月10日
        </h3>
        <h2 class="section-subheading">資本金</h2>
        <h3 class="section-subheading text-muted bottom-margin-sm">
          24万円
        </h3>
        <h2 class="section-subheading">事業年度</h2>
        <h3 class="section-subheading text-muted bottom-margin-sm">
          毎年7月末から6月まで
        </h3>
        <h2 class="section-subheading">主な事業内容</h2>
        <h3 class="section-subheading text-muted bottom-margin-sm">
          超人スポーツの開発・運営・イベントの実施
        </h3>
        <h2 class="section-subheading">主要取引先</h2>
        <h3 class="section-subheading text-muted bottom-margin-sm">
          一般社団法人超人スポーツ協会
        </h3>
      </div>
    </div>
  </div>
</section>
