<footer class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">&copy 2025, AXEREAL Co., Ltd.</span>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <!--<ul class="list-inline quicklinks">-->
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/AXEREAL_co">
              <i class="fab fa-twitter"></i>
            </a></li>
            
          <li class="list-inline-item">
            <a href="https://www.facebook.com/Axereal-coLTD-281794239203067/?modal=admin_todo_tour">
              <i class="fab fa-facebook-f"></i>
          </a></li>
          
          <li class="list-inline-item">
            <a href="https://instagram.com/goon.s3">
              <i class="fab fa-instagram"></i>
            </a></li>
            
            <!--<li><a href="http://templune.com/plantilla-de-bootstrap-gratis.html">Credits and Resources</a>-->
            </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
