<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="visible-md visible-lg">
        <div class="intro-lead-in">対話を通じ、</div>
        <div class="intro-heading visible-md visible-lg">最適身体で環境に適応する</div>
      </div>
      <div class="hidden-md hidden-lg">
        <div class="intro-lead-in">対話を通じ、</div>
        <div class="h2">最適身体で環境に適応する</div>
      </div>
      <!--<a href="#about" class="page-scroll btn btn-xl">Learn More</a>-->
    </div>
  </div>
</header>
