<!-- スポーツ -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading visible-md visible-lg">スポーツ</h2>
        <p class="section-heading h3 hidden-md hidden-lg">スポーツ</p>
        <h3 class="section-subheading text-muted">現在弊社が運用中の超人スポーツです。</h3>
      </div>
    </div>

    <div class="row">
      <!-- GooN -->
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/sp1_s.jpg" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>ゴーンボール</h4>
          <p class="text-muted">想いを、ぶつけ合いましょう</p>
        </div>
      </div>
      

      <!-- スライドリフト -->
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/sp2_s.jpg" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>スライドリフト</h4>
          <p class="text-muted">身体を、更新しましょう</p>
        </div>
      </div>

      <!-- バブルジャンパー -->
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/sp3_s.jpg" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>バブルジャンパー</h4>
          <p class="text-muted">もう一歩、踏み出しましょう</p>
        </div>
      </div>

      <!--
        <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
        <div class="portfolio-hover-content">
        <i class="fa fa-plus fa-3x"></i>
        </div>
        </div>
        <img src="img/portfolio/04.jpg" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
        <h4>Corporate A</h4>
        <p class="text-muted">Brand Indentity</p>
        </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
        <div class="portfolio-hover-content">
        <i class="fa fa-plus fa-3x"></i>
        </div>
        </div>
        <img src="img/portfolio/05.jpg" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
        <h4>Corporate B</h4>
        <p class="text-muted">Street Billboard</p>
        </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
        <div class="portfolio-hover-content">
        <i class="fa fa-plus fa-3x"></i>
        </div>
        </div>
        <img src="img/portfolio/06.jpg" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
        <h4>Dreams</h4>
        <p class="text-muted">Product Identity</p>
        </div>
        </div>
      -->

    </div>

     <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <!-- <a href="/srchallenge">　-->
          <img src="img/portfolio/GB.png" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
      </div>
    </div>
  
      <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="/srchallenge">
          <img src="img/portfolio/SR.png" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
      </div>
    </div>    

    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="https://superhuman-sports.org/games/">
          <img src="img/portfolio/BJ.png" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
      </div>
    </div>

  </div>
</section>
