---
layout: default
---

{% include header.html %}

{% include services.html %}

{% include about.html %}

{% include portfolio.html %}

{% include news.html %}

{% include sponsor.html %}

{% include contact.html %}

{% include company.html %}

<!-- Portfolio Modals -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">

            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aira-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>

              <p class="h2">ゴーンボール</p>
              <img class="img-responsive img-centered" src="img/portfolio/sp1.jpg" alt="">
              <p>ゴーンボールは、生まれて間もない身体融合型の拡張スポーツです。小型加速装置「GOON」を用いて、誰もが高い敏捷性をたやすく獲得できます。「現代の技術でスポーツを再発明する」というコンセプトのもと、”００だからできない”を超え、常に想いをぶつけ合える競技であるため、進化を続けるスポーツ競技です。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">

            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aira-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <p class="h2">スライドリフト</p>
              <img class="img-responsive img-centered" src="img/portfolio/sp2.jpg" alt="">
              <p>電動アシスト全方向車椅子を用いて、ドリフト走行等のテクニックで競い合う車椅子レース、それが超人スポーツ"スライドリフト"である。 "スライドリフト"の競技性を代表するドリフト操作には、単純な競走にとどまらない俊敏性（AGILITY）が求められる。小回り、鋭敏な動きができる器用さ、繊細さ、一瞬の判断力が勝敗を握る。ひとは"スライドリフト"を通じて今までにない快感を得る中で、万能感（ALMIGHTY）を実感するだろう。</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">

            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aira-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>

              <p class="h2">バブルジャンパー</p>
              <img class="img-responsive img-centered" src="img/portfolio/sp3.jpg" alt="">
              <p>選手は、ばねでできた西洋竹馬を足につけてジャンプ力を強化し、弾力性のある透明な球体を上半身に被り、衝撃から身を守ります。
              この競技は器具で人体を拡張した選手同士が激しくぶつかり合う迫力に魅力があり、相手を先に倒すかエリアから出した方が勝ちとなります。</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
